.pesquisaCamp {
    margin: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #421a40;
}

.pesquisaCampo {
    
}

.pesquisar {
    width: 200px;
    border: 4px;
    border-radius: 15px;
    text-align: center;
}